.ConfigCalendarModal-cog {
    float: right;
    cursor: pointer;
    margin-top: 5px;
}

.ConfigCalendarModal-cog-sm, .ConfigCalendarModal-cog-xs {
    float: right;
    cursor: pointer;
    margin-top: 5px;
    padding-left: 1px;
}