.CreateAccount-button {
    width: 100%;
}

.CreateAccount-terms {
    margin-bottom: 10px;
}

.CreateAccount-login {
    margin-top: 10px;
}

.CreateAccount-button-link {
    padding: 0 0 2px 1px;;
}