.Login-forgot {
    padding: 0;
}

.Login-button {
    width: 100%;
}

.Login-signup {
    padding: 0;
    margin-top: 10px;
}

.Login-hairstyle {
    margin: 0 auto;
    max-width: 500px;
    min-width: 380px;
    text-align: center;
}

.Login-hairstyle .description {
    text-align: justify;
}