.NotLoggedInContainer {
    margin: 0 auto;
    width: 400px;
    margin-top: 50px;
}

.NotLoggedInContainer-image {
    width: 80px;
    margin-left: 160px;
}

.NotLoggedInContainer-name {
    margin: 10px 0;
    text-align: center;
    font-size: 25px;
}

.NotLoggedInContainer-div {
    background-color: white;
    padding: 25px;
    border-radius: 5px;
}