.Caja-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0px;
}

.Caja-col-date-picker {
    padding-left: 0;
}

.Caja-calendar-input-group {
    display: flex;
}

.Caja-calendar-input-group-addon {
    padding: 4px 6px;
    width: 30px;
    height: 25px;
}

#caja-component input.form-control {
    width: 80px;
    height: 25px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    padding: 6px 6px;
    border-radius: 0 4px 4px 0;
}

#caja-component input.form-control.sm, #caja-component input.form-control.xs {
    border-radius: 4px;
    width: 85px;
}

.Caja-col-add {
    padding-right: 0;
}

.Caja-alert {
    font-style: italic;
    text-align: center;
    background-color: transparent;
    background-image: none;
    border: none;
}

.Caja-facturas-list {
    padding-left: 0;
    padding-right: 0;
}

.Caja-button {
    padding: 1px 8px;
}

.Caja-glyphicon {
    top: 2px;
}