.FacturaPanel {
    border-radius: 0;
    margin-bottom: 0;
}

.FacturaPanel-list-group {
    margin-bottom: 0;
}

.FacturaPanel-list-group-item {
    border-radius: 0;
    padding: 0;
    border: none;
}