/* ALERT */

.s-alert-box {
    z-index: 1055;
}

/* DATE PICKER */

.react-datepicker {
  font-size: 1em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}

/* TIME PICKER */ 

.rc-time-picker-input {
    width: 100px;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.rc-time-picker-panel {
    width: 115px;
}
.rc-time-picker-panel-inner {
    font-size: 14px;
}
.rc-time-picker-panel-select {
    font-size: 14px;
    overflow-x: hidden;
}

/* Validations */

.has-error .Select-control {
  border: 1px solid #a94442;
}

/* BIG CALENDAR */

.rbc-toolbar .rbc-toolbar-label {
  font-weight: bold;
}

.rbc-toolbar button {
  font-size: small;
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-header-cell .rbc-header {
  border-bottom: none;
}

.rbc-time-header > .rbc-row:first-child {
  border-bottom: 0;
}

.rbc-time-content {
  border-top: 1px solid #DDD;
  overflow-x: hidden;
}

.rbc-toolbar button {
  font-weight: bold;
}

/* CAJA */

.rbc-addons-dnd .rbc-event:hover .rbc-addons-dnd-resize-ns-icon, .rbc-addons-dnd .rbc-event:hover .rbc-addons-dnd-resize-ew-icon {
  display: none;
}

/* Removes the arrows for the input type number */

#modalFactura input::-webkit-outer-spin-button,
#modalFactura input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#modalFactura input[type=number]::-webkit-outer-spin-button,
#modalFactura input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#modalFactura input[type=number] {
    -moz-appearance:textfield;
}

.currencyinput {
  border: 1px inset #ccc;
}
.currencyinput input {
  border: 0;
}

.btn-link:focus, .btn-link:active:focus {
  outline: none;
}

#profile-button-toolbar.btn-toolbar .btn-group-link {
  float: none;
}